@page
@model Asc_Time_Tracker.Pages.TimeLogs.IndexModel

@{
    ViewData["Title"] = "Logs";
}

<h1>
    Logs
</h1>

<!-- Display cards only on mobile -->
<div class="col p-0 d-md-none">
    @foreach (var item in Model.TimeLogs)
    {
        <div class="card log-card">
            <div class="card-body">
                <span class="log-color">&nbsp;&nbsp;&nbsp;</span>
                <span class="log-job">
                    @Html.DisplayFor(modelItem => item.JOBNUM)
                </span>
                @Html.DisplayFor(modelItem => item.DATE)
            </div>
        </div>
    }
</div>

<!-- Display table only on desktop -->
<div class="container container-table p-0 d-none d-md-block">
    <table class="table m-0">
        <thead>
            <tr>
                <!-- Left out for personal index (since it's your ID)
                <th>
                    @Html.DisplayNameFor(model => model.TimeLogs[0].EMPID)
                </th>
                    -->
                <th>
                    @Html.DisplayNameFor(model => model.TimeLogs[0].JOBNUM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeLogs[0].DATE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeLogs[0].TIME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeLogs[0].NOTES)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeLogs[0].RD)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TimeLogs)
            {
                <tr>
                    <!--
                        <td>
                            @Html.DisplayFor(modelItem => item.EMPID)
                        </td>
                    -->
                    <td>
                        @Html.DisplayFor(modelItem => item.JOBNUM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DATE)
                    </td>
                    <td>
                        @{
                            // Make the time look nice, by converting from seconds into hours and minutes.
                            string formattedTime = (Math.Floor((item.TIME % 3600) / 60) + "").PadLeft(2, '0');
                            formattedTime = Math.Floor(item.TIME / 3600) + ":" + formattedTime;
                        }
                        @Html.DisplayFor(modelItem => formattedTime)
                    </td>
                    <td id="notes-col">
                        @Html.DisplayFor(modelItem => item.NOTES)
                    </td>
                    <td>
                        @{
                            string formattedRD = item.RD ? "Y" : "";
                        }
                        <strong>
                            @Html.DisplayFor(modelItem => formattedRD)
                        </strong>
                    </td>
                    <td class="actions px-0">
                        <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-outline-secondary btn-edit">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <button class="btn btn-outline-danger btn-delete" data-toggle="modal" data-target="#timeLogDeleteModal">
                            <i class="bi bi-trash"></i>
                        </button>
                        <input class="input-delete" type="hidden" value="@item.ID" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Modals -->
    <div class="modal fade" id="timeLogDeleteModal" tabindex="-1" role="dialog" aria-labelledby="timeLogDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="timeLogDeleteModalLabel">Delete this time log?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form method="post" asp-page-handler="Delete">
                        <input id="TimeLog_ID" name="TimeLog.ID" data-val="true" data-val-required="The ID field is required." type="hidden" />
                        <button type="submit" value="Delete" class="btn btn-danger">Yes, delete it</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/submit/indexModal.js"></script>
    <script src="~/js/ui/jobColor.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}